:root { 
--deep_orange_50:#efe3e3; 
--blue_gray_100:#d9d9d9; 
--indigo_50:#e6ebf1; 
--indigo_A700_9c:#243dff9c; 
--black_900:#000000; 
--indigo_A700:#243dff; 
--indigo_50_01:#e7ebf1; 
--blue_gray_900_01:#252133; 
--blue_gray_700:#4c495c; 
--blue_gray_900_00:#2c273d00; 
--blue_gray_900:#2d283e; 
--white_A700:#ffffff; 
--purple_600:#812bb2; 
--blue_gray_700_01:#564f70; 
}